<h1>Display your Pirate here</h1>
<ul><% @pirate.each do |pirate| %>
  <li>Name:<%= pirate.name %></li>
  <li>Weight:<%= pirate.weight %></li>
  <li>Height:<%= pirate.height %></li>
  <% end %>
</ul>

<ul><% @pirate.ships.each_with_index do |pirate, index| %>
<ul> <%=index%>.</ul>
  <li>Ship Name:<%= pirate.ships.name %></li>
  <li>Type:<%= pirate.ships.typet %></li>
  <li>Booty:<%= pirate.ships.booty %></li>
  <% end %>
</ul>
